<body>


    <form #f="ngForm">
        <table class="bordo rcorners" >
        <tr><td class="ciao">IdUser</td>
            <td class="ciao">Nome</td>
            <td class="ciao">Cognome</td>
        </tr>
    
        <tr *ngFor="let u of user">	
                <td class="ciao">{{u.iduser}}</td>
                <td class="ciao">{{u.name}}</td>
                <td class="ciao">{{u.surname}}</td>
    </table>
    <br>
    <table class="bordo rcorners" >
            <tr><td class="ciao">Idmedico</td>
                <td class="ciao">Nome</td>
                <td class="ciao">Cognome</td>
                <td class="ciao">Specializzazione</td>
            </tr>
        
            <tr *ngFor="let m of medico">	
                    <td class="ciao">{{m.idmedico}}</td>
                    <td class="ciao">{{m.nome}}</td>
                    <td class="ciao">{{m.cognome}}</td>
                    <td class="ciao">{{m.specializzazione}}</td>
        </table>

        <br>

        <table class="bordo rcorners" >
                <tr><td class="ciao">Idsensore</td>
                    <td class="ciao">Tipo</td>
                    <td class="ciao">Specifiche</td>
                </tr>
            
                <tr *ngFor="let s of sensore">	
                        <td class="ciao">{{s.idsensore}}</td>
                        <td class="ciao">{{s.tipoSensore}}</td>
                        <td class="ciao">{{s.specificheSensore}}</td>
                       
            </table>
                <table class="insertTable">
                    <tr>
                        <td><h2>Idpaziente:</h2></td>
                         <td><input type="text" id="idpaziente" value="{{idpaziente}}" name="idpaziente"
                        placeholder="Inserisci l'id del paziente" [(ngModel)]="idpaziente"> </td>
                    </tr>

                    <tr>
                        <td><h2>Idmedico:</h2></td>
                         <td><input type="text" id="idmedico" value="{{idmedico}}" name="idmedico"
                        placeholder="Inserisci l'id del medico" [(ngModel)]="idmedico"> </td>
                    </tr>
                    <tr>
                        <td><h2>Idsensore:</h2></td>
                        <td><input type="text" id="idsensore" value="{{idsensore}}" name="idsensore"
                        placeholder="Inserisci l'id del sensore" [(ngModel)]="idsensore"> </td>
                    </tr>
    
              <!--      <tr>
                        <td><h2>Risultato:</h2></td>
                        <td><input type="file" class="form-control" id="risultato"  value="{{risultato}}"
                           name="risultato" placeholder="Inserisci il risultato" [(ngModel)]="risultato"> </td>
                    </tr>-->
                    
                    <tr>
                        <td><h2>Data:</h2></td>
                        <td><input type="date"class="form-control"  id="data"  value="{{data}}"
                            name="data" placeholder="Inserisci la data" [(ngModel)]="data"></td>
                    </tr>
                
            
 <td>
     <input type="hidden" name="idcartella" [(ngModel)]="idcartella">
 
            
             <button class="btn lg btn-primary" type="submit" (click)="update(f)">Modifica</button>
         </td>    
         <a class="btn lg btn-primary"
         href="/#/readDatiBiomedici">Indietro</a>
         </table>
 </form>
 </body>