<body>


    <form class="form-signin" action="/HomeUser/showUsers"  method="GET">
    
        <h1 class="element-margin-left">Ecco tutti i Sintomi</h1>
    
            
           
    
      <table class="bordo rcorners" >	
         <tr>
              <th><h4>SINTOMI</h4></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="userimg"></td>
         </tr>
           
          <tr>
             <th>
                 ID SINTOMO
             </th>
    
             <th>
                 NOME SINTOMO
             </th>
             
             <th>
              </th>
             <th>
              </th>
           </tr>
        
           
          <tr *ngFor = "let s of sintomo">
             
             <td>           
                {{s.idsintomo}}            
             </td>
             <td>
                {{s.nomeSintomo}}
             </td>
        
             <td>
                  <button class="btn lg btn-primary" 
                  [routerLink]="['/updateSintomo']" 
                  [queryParams]= "{
                     idsintomo: s.idsintomo,
                      nomeSintomo: s.nomeSintomo}">Modifica </button>
             </td>
             <td>
                 <button class="btn lg btn-primary" type = "submit" (click)="delete(s.idsintomo)">Elimina</button>
             </td>		
          </tr>
      </table>
    
    <a class="btn lg btn-primary"
            href="/#/gestioneSintomo">Indietro</a>
   
    </form>
    
    </body>