<form action="/HomePatologia/delete" method="get">

	<h1 class="element-margin-left">Lista delle patologie che puoi eliminare </h1>
	
	<table class="bordo rcorners" >	
	     <tr>

     <th><h4>PATOLOGIE</h4></th><td></td><td></td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="userimg"></td></tr>

     <tr>
	<tr>
        
         <th>
             ID PATOLOGIA
         </th>

         <th>
            PATOLOGIA
         </th>
         
         <th>
         	DESCRIZIONE
          </th>
         <th>
          </th>

     </tr>
	
     <tr *ngFor="let patologia  of listaPatologia">	
        <td>{{patologia.idpatologia}}</td>
        <td >{{patologia.patologia}}</td>
        <td>{{patologia.descrizione}}</td>
            
       <td>
          
          <a class="btn lg btn-primary"
			href="/HomePatologia/update&id=${patologia.idpatologia}">Modifica</a>
         </td>
         <td>
             <a class="btn lg btn-primary"
			href="/HomePatologia/delete&idpatologia=${patologia.idpatologia}">Elimina</a>
         </td>
		
		
     </tr>
     </c:forEach>	
	
				
		</table>
		
    
    <a class="btn lg btn-primary"
 href="/Home/homePatologia">Indietro</a></br> 		
		</form>