     <form action="/HomeErbaC/insertErba" method="post">
		<table class="insertTable">

			<tr>
				<td><h2>Nome Erba:</h2></td>
				<td><input type="text"  id="erba"
					name="erba" placeholder="Inserisci Nome Erba"></td>
			</tr>
			
			<tr>
				<td><h2>Descrizione:</h2></td>
				<td><input type="text"  id="descrizione"
					name="descrizione" placeholder="Inserisci Descrizione Erba"></td>
			</tr>

		</table>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Crea</button>
		<a class="btn btn-lg btn-primary btn-block" 
		href="/Home/homeErba">Indietro</a><br>
	</form>
	
