     <form action="/HomeErbaC/insertErba" #f ="ngForm" method="post">
		<table class="insertTable">

			<tr>
				<td><h2>Nome Erba:</h2></td>
				<td><input type="text" class="form-control" id="erba"
					name="erba" placeholder="Inserisci Nome Erba" ngModel></td>
			</tr>
			
			<tr>
				<td><h2>Descrizione:</h2></td>
				<td><input type="text"  class="form-control" id="descrizione"
					name="descrizione" placeholder="Inserisci Descrizione Erba"ngModel></td>
			</tr>

		</table>
		<button class="btn lg btn-primary" (click)="insertErba(f)">Inserisci</button>
		<a class="btn lg btn-primary" 
		href="/#/gestioneErbe">Indietro</a>
	</form>
	
