
<form class="form-group" #f="ngForm">

	<h1 class="element" >GESTIONE ERBE</h1>

		
		
		

<table >	
	     <tr>
     <th  ><h4>ERBE</h4>
     
	<tr>
        
         <th>
             ID ERBA
         </th>

         <th>
             ERBA
         </th>
         
         <th>
         	DESCRIZIONE
          </th>
         <th>
             DELETE
          </th>
          <th>
            MODIFICA
         </th>

     </tr>
	
        <tr *ngFor="let erba of erbaList">
            <td>{{erba.iderba}}</td>
            <td>{{erba.erba}}</td>
            <td> {{erba.descrizione}}</td>
            

	
		<td>
          <button class="btn lg btn-primary"  type = "submit" (click)="deleteErba(erba.iderba)"> Elimina</button>
        
         </td>
         <td>
            <button 
                class ="btn lg btn-primary" 
                [routerLink]="['/updateErba']" 
                [queryParams]="{
                    iderba: erba.iderba,
                    descrizione: erba.descrizione,
                    erba: erba.erba
                }"
            >
                modifica
            </button>
             
         </td>
         
		
     </tr>
     
     
     
</table><br> <br> <br> 
<a  class ="btn lg btn-primary"
		href="/#/addErba">Inserisci Erba</a><br> <br> 


         
<a  class ="btn lg btn-primary"
		routerLink="/homeDoctor">Indietro</a><br> 

</form>
