<body>


        <form #f="ngForm">
                    <table class="insertTable">
        
                        <tr>
                            <td><h2>Tipo Kit:</h2></td>
                            <td><input type="text" class="form-control" id='tipoKit'  value="{{tipoKit}}"
                               name="tipoKit" placeholder="Inserisci il tipo kit" [(ngModel)]="tipoKit"> </td>
                        </tr>
                        
                        <tr>
                            <td><h2>Descrizione Kit:</h2></td>
                            <td><input type="text"class="form-control"  id="descrizioneKit"  value="{{descrizioneKit}}"
                                name="descrizioneKit" placeholder="Inserisci la descrizione del kit" [(ngModel)]="descrizioneKit"></td>
                        </tr>
                        <tr>
                                <td><h2>Software:</h2></td>
                                <td><input type="text"class="form-control"  id="software"  value="{{software}}"
                                    name="software" placeholder="Inserisci software" [(ngModel)]="software"></td>
                            </tr>
                
     <td>
         <input type="hidden" name="idkit" [(ngModel)]="idkit">
     
                
                 <button class="btn lg btn-primary" type="submit" (click)="update(f)">Modifica</button>
             </td>    
             <a class="btn lg btn-primary"
             href="/#/readKit">Indietro</a>
             </table>
     </form>
     </body>