<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">
    SYNDONE
    </h1>
    <a class="btn btn-lg btn-primary btn-block"
    href="/Home/homeSintomo">Gestione Sintomi</a><br> 
    <a class="btn btn-lg btn-primary btn-block"
    href="/Home/homePatologia">Gestione Patologie</a><br> 
    <a class="btn btn-lg btn-primary btn-block" 
    href="/Home/homeErba">Gestione Erbe</a><br> 
    <a class="btn btn-lg btn-primary btn-block" 
    href="/Home/homeSintomoSet">Gestione SintomoSet</a><br>
    <a class="btn btn-lg btn-primary btn-block"
    href="/Home/homeEsame">Gestione Esami Clinici</a><br>
    <a class="btn btn-lg btn-primary btn-block" 
    href="/Login/logoutControl">Logout</a><br>
</form>