<body>
        <h1>Seleziona l'operazione che vuoi effettuare</h1>
    
        <div class="insertDiv">
            <a href="/#/erba"
            class="btn lg btn-primary">Visualizza Erbe</a>
           </div>
    <p> </p>
    
        <div class="insertDiv">
             <a href="/#/addErba"
                class="btn lg btn-primary">Inserisci nuova Erba </a>
        </div>
        <p> </p>
        <div class="insertDiv">
            <a routerLink="/homeDoctor"
            class="btn lg btn-primary">Indietro</a>
           </div>
        
    </body>