<body>
        <h1>Seleziona l'operazione che vuoi effettuare</h1>
    
        <div class="insertDiv">
            <a href="/#/sensori"
            class="btn lg btn-primary">Visualizza Sensori</a>
           </div>
    <p> </p>
    
        <div class="insertDiv">
             <a href="/#/addSensore"
                class="btn lg btn-primary">Inserisci nuovo Sensore </a>
        </div>
        <p> </p>
        <div class="insertDiv">
            <a routerLink="/homeDoctor"
            class="btn lg btn-primary">Indietro</a>
           </div>
        
    </body>