<form action="/HomePatologia/InsertPatologia" method="post">
    <table class="insertTable">

        <tr>
            <td><h2>Nome Patologia:</h2></td>
            <td><input type="text" id="patologia" name="patologia"
                placeholder="Inserisci il nome della patologia"></td>
        </tr>
        
        <tr>
            <td><h2>Descrizione:</h2></td>
            <td><input type="text" id="descrizione" name="descrizione"
                placeholder="Inserisci la descrizione della patologia"></td>
        </tr>
        
</table>

    <input type="submit" value="Inserisci">
    <a class="btn lg btn-primary"
href="/Home/homePatologia">Indietro</a></br> 

</form>
